@model TNTTSHOP.Areas.Admin.Models.CategoryModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul id="myTab3" class="tab-review-design">
                <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i>Chi Tiết</a></li>
            </ul>
            <div class="single-product-pr">
                <div class="row">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div id="myTabContent1" class="tab-content">
                            <div class="product-tab-list tab-pane fade active in" id="single-tab1">
                                <img src="~/img/@Html.DisplayFor(model => model.image)" style=" width:500px;height:400px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="single-product-details res-pro-tb">
                            <h1>Tên: @Html.DisplayFor(model => model.name)</h1>
                        </div>
                    </div>
                </div>
                <div class="text-center custom-pro-edt-ds">
                    <button type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10"> <a asp-action="Edit" asp-route-id="@Model.MaCate">Sửa</a></button>
                    <button type="button" class="btn btn-ctl-bt waves-effect waves-light m-r-10"><a asp-action="Index">Trở Về </a></button>
                </div>
            </div>
        </div>
    </div>
</div>

